

.sidebar-list p {
    width: 90%;
    transition: margin-left 0.3s;
  }
  .sidebar-list :hover{
    cursor: pointer;
    background-color: aliceblue;
  } 
  
  
  .sidebar-list:hover p {
    margin-left: 18px !important;
  }
  
  .hide-scrollbar {
    overflow: hidden; 
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .active-sidebar{
    background-color: aliceblue;
    width: 90%;
  }
  




@media (min-width: 768px) {
    .sidebar-class {
      position: static;
    }
    .sidebar-close-btn{
      display: none;
    }
    
}
  